external_url 'http://gitlab.{{ domain_name }}'
gitlab_rails['gitlab_shell_ssh_port'] = 2224
nginx['redirect_http_to_https'] = false
nginx['listen_port'] = 80
nginx['listen_https'] = false
nginx['proxy_set_headers'] = {
    "Host" => "$http_host",
    "X-Real-IP" => "$remote_addr",
    "X-Forwarded-For" => "$proxy_add_x_forwarded_for"
}

# LDAP Config
{% set dn_base =  domain_name | ldap_dn() %}
gitlab_rails['ldap_enabled'] = true
gitlab_rails['ldap_servers'] = YAML.load <<-EOS
  main:
    label: 'LDAP'
    host: 'openldap'
    port: 389
    uid: 'uid'
    method: plain
    bind_dn: cn=admin,{{ dn_base }}
    base: {{ dn_base }}
    password: {{ ldap_admin_password }}
    active_directory: false
    user_filter: ''
    allow_username_or_email_login: false
    block_auto_created_users: false
    attributes:
      username: 'uid'
      email: 'mail'
      name: 'cn'
      first_name: 'givenName'
      last_name: 'sn'

EOS
